<h1> <%= @creature.name %> </h1>
<p> <%= @creature.description %> </p>
<%= button_to "Edit", edit_creature_path(@creature), method: :get, class: "btn btn-primary" %>
<%= button_to "Delete", @creature, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%>